<div ng-app="todoApp">
	<div ng-controller="todoCtrl">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-2">
				<!--Sidebar content-->
				<input ng-model="query" class="main_searchbox" placeholder="Search ...">
				</div>
				<div class="todo_wrapper">
					<!--Body content-->
					<div class="undone_wrapper">
						<h2>Undone List</h2>
						<ul class="list">
							<li ng-repeat="activity in unDoneActivities | filter:query">
								<input type="checkbox" ng-model="activity.isDone"/>
								<span>{{activity.name}}</span>
							</li>
						</ul>
					</div>
					<div class="list">
						<h2>Done List</h2>
						<ul class="done_activities">
							<li ng-repeat="activity in doneActivities">
								<input type="checkbox" ng-model="activity.isDone"/>
								<span>{{activity.name}}</span>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

